numpy<2
opencv-python-headless
fastapi
uvicorn
python-multipart
ultralytics
segment-anything
scikit-image
torch
opencv-python

torch==2.1.2+cpu
torchvision==0.16.2+cpu
torchaudio==2.1.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

